<!DOCTYPE html>
<html>
<head>
    <title>Using NgSwitchery</title>
    <link rel="stylesheet" href="../bower_components/switchery/dist/switchery.css" />
    <script src="../bower_components/switchery/dist/switchery.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../src/ng-switchery.js"></script>
    <script src="ng-switchery-sample.js"></script>
</head>
<body ng-app="NgSwitcherySample">
<div ng-controller="SwitchController">
	<label>Basic:</label> <input type="checkbox" ng-model="switches.basic" class="js-switch" ui-switch /> {{ switches.basic ? "On" : "Off" }}<br>
	<label>Custom:</label> <input type="checkbox" ng-model="switches.custom" class="js-switch" ui-switch="{color: '#E43B11', secondaryColor: '#F89279'}" /> {{ switches.custom ? "On" : "Off" }} <br>
	<label>Disabled:</label> <input type="checkbox" ng-disabled="true" ng-model="switches.basic" class="js-switch" ui-switch /> {{ switches.basic ? "On" : "Off" }}<br>
</div>
</body>
</html>
